
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PaymentClaims</title>
     @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />   *@
    <link rel="stylesheet" href="~/css/style-starter.css" asp-append-version="true" />
    <a href="~/fonts/fontawesome-webfont.eot"></a>
    <a href="~/fonts/fontawesome-webfont.ttf"></a>
    <a href="~/fonts/fontawesome-webfont.woff"></a>
    <a href="~/fonts/fontawesome-webfont.woff2"></a>
    <a href="~/fonts/FontAwesome.otf"></a>
    
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery.countup.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/theme-change.js"></script>
     
    
   


</head>
<body>
    <!--header   mynav_ -->
    
  <header id="site-header" class="fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <h1><a class="navbar-brand" >
            <img src= "~/images/Aspire.png" width="110">
          </a></h1>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa icon-expand fa-bars"></span>
          <span class="fa icon-close fa-times"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"  asp-controller="Home" asp-action="Services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"  asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"  asp-controller="Home" asp-action="About">About</a>
                        </li>
                    </ul>
      
                        <div>
                        <a  class="nav-link btn btn-primary d-none d-lg-block btn-style mr-2" asp-controller="Account" asp-action="EmployeeLogin">Employee LogIn</a>
                    </div>
                    <div>
                        <a class="nav-link btn btn-primary d-none d-lg-block btn-style mr-2" asp-controller="Account" asp-action="ProjectManagerLogin">Project Manager LogIn</a>
                    </div>
                    <div>
                        <a class="nav-link btn btn-primary d-none d-lg-block btn-style mr-2" asp-controller="Account" asp-action="FinanceManagerLogin">Finance Manager LogIn</a>
                    </div>
          

         </div>          
      </nav>         
    </div>
  </header>
  <!--/header-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
<!-- footer-66 -->
  <footer class="w3l-footer-66">
    <section class="footer-inner-main">
      <div class="footer-hny-grids py-5">
        <div class="container py-lg-4">
          <div class="text-txt">
            <!-- NewsLetter -->
              <div class="row sub-columns">
                <div class="col-lg-4 col-md-6 sub-one-left pr-lg-4">
                  
                  <!-- if logo is image enable this  --> 
										<a class="navbar-brand" href="#index.html">
											<img src="~/images/Aspire.png" style="height:105px;" />
										</a> 
                  <p class="pr-lg-4">If you have made an expense which was a business expense, you can claim reimbursement. The law of most companies requires the bills to be submitted and the reason for the expenditure. You can submit the bills for reimbursements, and the company finance department will approve the bills as per your eligibility.</p>
                  <div class="columns-2">
                    <ul class="social">
                      <li><a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                      </li>
                      <li><a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                      </li>
                      <li><a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                      </li>
                      <li><a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                      </li>
                      <li><a href="#github"><span class="fa fa-github" aria-hidden="true"></span></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 sub-one-left ">
                  <br>
                  <h6>Our Services</h6>
    <div class="mid-footer-gd sub-two-right">

                    <ul>
                      <li><a><span class="fa fa-angle-double-right mr-2"></span>Travel Reimbursement</a></li>
                      <li><a><span class="fa fa-angle-double-right mr-2"></span>Medical Claims</a></li>
                      <li><a><span class="fa fa-angle-double-right mr-2"></span>Food Expenses</a></li>
                      <li><a><span class="fa fa-angle-double-right mr-2"></span>Telephone Claims</a></li>
                      <li><a><span class="fa fa-angle-double-right mr-2"></span>Insurance Claims</a></li>
                      <li><a><span class="fa fa-angle-double-right mr-2"></span>And more....</a></li>
                    </ul>
                    <ul><ul>
                      <li><a><span class="fa fa-angle-double-right mr-2"></span>Home</a></li>
                      <li><a><span class="fa fa-angle-double-right mr-2"></span>About</a></li>
                      <li><a><span class="fa fa-angle-double-right mr-2"></span>Contact</a></li>
                      <li><a><span class="fa fa-angle-double-right mr-2"></span>Services</a></li>
                      
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 sub-one-left">
                  <br>
                  <h6>Contact Info</h6>
                  <div class="sub-contact-info">
                    <p>Address: SIPCOT IT Park, 1/D-1, First Main Road, Siruseri, Tamil Nadu 603103</p>
                    <p class="my-3">Phone: <strong><a href="tel:+04467404000">+044 6740 4000</a></strong></p>
                    <p>E-mail:<strong> <a href="mailto:info@example.com">info@example.com</a></strong></p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="below-section">
        <div class="container">
          <div class="copyright-footer">
            <div class="columns text-lg-left">
              <p>© 2023 Payment Claims. All rights reserved</a></p>
            </div>
            <ul class="columns text-lg-right">
              <li><a href="#">Privacy Policy</a>
              </li>
              <li>|</li>
              <li><a href="#">Terms Of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- copyright -->
      <!-- move top -->
      <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-long-arrow-up" aria-hidden="true"></span>
      </button>
      <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        };

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
          } else {
            document.getElementById("movetop").style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
      <!-- /move top -->

    </section>
  </footer>
  <!--//footer-66 -->
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}
</script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
