@model PaymentClaims.Models.ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout-ChangePassword.cshtml";
}
<!-- about breadcrumb -->
   <section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
      <div class="container py-lg-5 py-3">
        <h2 class="title">Change Password</h2>
        <ul class="breadcrumbs-custom-path mt-2">
          <li><a href="#url">Home</a></li>
          <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> Change Password </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //about breadcrumb -->


 <form autocomplete="off" method="post" class="m-3 p-3" action="ChangepasswordVerify">
  <h2><u>Reset the Password :</u></h2><br><br>
        
        <h5>Enter the Email Address : @Html.TextBoxFor(m => m.Email,new {@class="newform-control",placeholder="Email"})</h5><br>
        <h5>Enter the New Password : @Html.TextBoxFor(m => m.NewPassword,new {@class="newform-control",placeholder="Password",type="password"})</h5> <br>
        <h5>Confirm Password : @Html.TextBoxFor(m => m.ConfirmNewPassword,new {@class="newform-control",placeholder="Password",type="password"})</h5><br>
        
        
       <br>
        <div class="mb-3">
            <button class="btn btn-sm btn-dark btn-style w-100 p-2" type="submit" >Change Password</button>
        </div>
        
        </form>



 <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->